.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 300px;
    height: 2.25rem;
    /* border: 1px solid #444; */
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 0px;
  height: 1rem;
}