<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Spotify Real Shuffle</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://unpkg.com/bamboo.css/dist/light.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Spotify Real Shuffle</h1>
    <ul>
        <li><a href="{{ url_for('home_rt') }}">Home</a></li>
        <li><a href="{{ url_for('login_rt') }}">Login</a></li>
    </ul>
    <br>
    {% block body %}
    {% endblock %}
</body>
</html>