{% extends "default.html" %}
{% block body %}
<div>
    <h2>Select the playlists you'd like to shuffle:</h2>
    <p>Once you hit submit, you'll have to wait for the page to load. Don't cancel it!</p>
    <form action="{{ url_for('update_rt') }}" method="post">
        <div class="container">
            {% for pl in playlists %}
            <div class="item">
                <label for="{{pl['name']}}">{{pl['name']}}</label>
                <input type="checkbox" value="{{pl['id']}}" name="{{pl['name']}}" />
            </div>
            {% endfor %}
        </div>
        <br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <br>
</div>
{% endblock %}